<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <%- include('navbar') %>

  <main>
    <h1><%= title %></h1>
    <p>Velkominn til <%= title %></p>
    <p><%= subtitle %></p>
    <p>Vi skal bruke bootstrap!</p>
  </main>
  <footer>
    <%- include('footer') %>
  </footer>
  </body>
</html>
