<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <%- include('navbar') %>
  <main>
    <h1><%= title %></h1>

    <table id="tabell" class="table table-striped-columns table-hover">
        <thead>
            <tr>
                <th>Navn</th>
                <th>Brukernavn</th>
                <th>Epost</th>
                <th>Passord</th>
                <th>Dato</th>
            </tr>
        </thead>
        <tbody>

            <%  for(var i = 0; i < docs.length; i++) {  %>

                <tr>
                    <td>
                        <%= docs[i].navn %>
                    </td>
                    <td>
                        <%= docs[i].brukernavn %>
                    </td>
                    <td>
                        <%= docs[i].epost %>
                    </td>
                    <td>
                        <%= docs[i].passord %>
                    </td>
                    <td>
                        <%= docs[i].dato %>
                    </td>
                </tr>

            <% } %>
        </tbody>

  </main>
  </body>
</html>
